body {
    font-size: 16px;
    padding-top: 70px;
    background-color: #F0F0F0;
    font-family: "gandhi sans", helvetica, sans-serif;
}

code {
    background-color: #FCFCFC;
    border-radius: 6px 6px 6px 6px;
    color: #595F7B;
    font-size: 80%;
    padding: 6px 12px
}

p code {
    word-wrap: break-word;
    white-space: pre-line
}

pre {
    font-size: 17px
}

#intro-logo {
    color: #000000;
    display: block;
    font-family: "gandhi serif", georgia, serif;
    font-weight: bold;
    font-size: 3.8em;
    font-style: italic;
    margin-top: 2em;
    text-shadow: 1px 2px 0 #FFFFFF;
}

#intro-description {
    font-weight: normal;
    font-size: 2.0em;
    line-height: 1em;
    margin: 1em 0 0;
    text-shadow: 1px 2px #FFFFFF;
}

#intro-links {
    line-height: 1.5em;
    margin-top: 1.25em;
}

#intro-links a {
    color: #333333;
    white-space: nowrap;
}

#sidebar {
    background-color: #2B3D50;
    display: none;
}

.light-hr {
    background-color: #FFFFFF;
    color: #FFFFFF;
}

ul.sidebar-nav {
    margin-left: -20px;
    margin-right: -21px;
    margin-bottom: 20px;
}

ul.sidebar-nav > li > a {
    padding-left: 20px;
    padding-right: 20px;
}

ul.sidebar-nav > li > a:hover, ul.sidebar-nav > li > a.active {
    background: #76A7DB;
    color: #FFF;
}

@media (min-width: 768px) {
    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;
        display: block;
        padding: 70px 20px 20px;
        border-right: 1px solid #EEEEEE;
    }
}

#content {
    padding: 20px;
}

#main-content ul li {
    margin: 10px 0;
}

#main-content h3, #main-content h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    #content {
        padding-left: 40px;
        padding-right: 40px;
    }
}