{% for doc in site.data.docs %}
    <h4>
        {{ doc.title }}
    </h4>
    <ul class="nav sidebar-nav">
        {% for item in doc.pages %}
            {% assign page_url = item | prepend: '/docs/' | append: '/' %}

            {% if page_url == page.url %}
                {% assign c = 'active' %}
            {% else %}
                {% assign c = '' %}
            {% endif %}
            <li>
            {% for site_page in site.pages %}
                {% if site_page.url == page_url %}
                    <a href="{{ page_url }}" class="{{ c }}">{{ site_page.title }}</a>
                {% endif %}
            {% endfor %}
            </li>
        {% endfor %}
    </ul>
{% endfor %}